--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.petfinder.com/shelter.getPets?count=2&id=CA1080&key=fake
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=iso-8859-1
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="iso-8859-1"?>
        
        <petfinder xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://api.petfinder.com/schemas/0.9/petfinder.xsd">
         <header>
          <version>0.1</version>
          <timestamp>2012-05-06T21:06:20Z</timestamp>
          <status>
           <code>100</code>
           <message />
          </status>
         </header>
         <lastOffset>2</lastOffset>
         <pets>
          <pet>
           <id>10937712</id>
           <shelterId>CA1080</shelterId>
           <shelterPetId />
           <name>Gabriella</name>
           <animal>Cat</animal>
           <breeds>
            <breed>Domestic Short Hair-gray</breed>
           </breeds>
           <mix>no</mix>
           <age>Young</age>
           <sex>F</sex>
           <size>M</size>
           <options>
            <option>altered</option>
            <option>hasShots</option>
           </options>
           <description><![CDATA[<div>Gabriella is a gentle, sweet, playful kitty. When she&#39;s not chasing mousies, she likes to snuggle in your lap. Gabriella likes people, dogs, and other cats. You can meet Gabby and all of our adoptable cats in our cattery at the Vista, CA PetSmart store. Contact Kathleen at kpaymard@cox.net for more info.</div>
        <br/><a href="http://www.petfinder.com/petdetail/10937712">View this pet on Petfinder.com</a>
        ]]></description>
           <lastUpdate>2011-04-08T16:53:07Z</lastUpdate>
           <status>A</status>
           <media>
            <photos>
             <photo id="1" size="x">http://photos.petfinder.com/photos/US/CA/CA1080/10937712/CA1080.10937712-1-x.jpg</photo>
             <photo id="1" size="fpm">http://photos.petfinder.com/photos/US/CA/CA1080/10937712/CA1080.10937712-1-fpm.jpg</photo>
             <photo id="1" size="pn">http://photos.petfinder.com/photos/US/CA/CA1080/10937712/CA1080.10937712-1-pn.jpg</photo>
             <photo id="1" size="pnt">http://photos.petfinder.com/photos/US/CA/CA1080/10937712/CA1080.10937712-1-pnt.jpg</photo>
             <photo id="1" size="t">http://photos.petfinder.com/photos/US/CA/CA1080/10937712/CA1080.10937712-1-t.jpg</photo>
            </photos>
           </media>
           <contact>
            <address1>www.BajaAnimalSanctuary.org</address1>
            <address2 />
            <city />
            <state>CA</state>
            <zip>92102</zip>
            <phone />
            <fax />
            <email />
           </contact>
          </pet>
          <pet>
           <id>11482281</id>
           <shelterId>CA1080</shelterId>
           <shelterPetId />
           <name>Crissy</name>
           <animal>Cat</animal>
           <breeds>
            <breed>Tabby - Grey</breed>
           </breeds>
           <mix>no</mix>
           <age>Young</age>
           <sex>F</sex>
           <size>M</size>
           <options>
            <option>altered</option>
            <option>hasShots</option>
 [...]
