--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.petfinder.com/pet.find?animal=dog&count=2&key=fake&location=San%20Diego,%20CA
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=iso-8859-1
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="iso-8859-1"?>
        
        <petfinder xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://api.petfinder.com/schemas/0.9/petfinder.xsd">
         <header>
          <version>0.1</version>
          <timestamp>2012-05-06T20:34:20Z</timestamp>
          <status>
           <code>100</code>
           <message />
          </status>
         </header>
         <lastOffset>2</lastOffset>
         <pets>
          <pet>
           <id>19901761</id>
           <shelterId>CA1827</shelterId>
           <shelterPetId>Sasha</shelterPetId>
           <name>Sasha</name>
           <animal>Dog</animal>
           <breeds>
            <breed>Doberman Pinscher</breed>
           </breeds>
           <mix>no</mix>
           <age>Adult</age>
           <sex>F</sex>
           <size>L</size>
           <options>
            <option>altered</option>
            <option>hasShots</option>
            <option>housebroken</option>
            <option>noCats</option>
            <option>noDogs</option>
            <option>noKids</option>
           </options>
           <description><![CDATA[<div>Sasha is 7 years old approx. She is great with the right people but not so much with other dogs. She is also over weight right now, but we do have her on a diet and exercise regiment. </div>
        <br/><a href="http://www.petfinder.com/petdetail/19901761">View this pet on Petfinder.com</a>
        ]]></description>
           <lastUpdate>2011-09-02T20:32:32Z</lastUpdate>
           <status>A</status>
           <media>
            <photos>
             <photo id="1" size="x">http://photos.petfinder.com/photos/US/CA/CA1827/19901761/CA1827.19901761-1-x.jpg</photo>
             <photo id="1" size="fpm">http://photos.petfinder.com/photos/US/CA/CA1827/19901761/CA1827.19901761-1-fpm.jpg</photo>
             <photo id="1" size="pn">http://photos.petfinder.com/photos/US/CA/CA1827/19901761/CA1827.19901761-1-pn.jpg</photo>
             <photo id="1" size="pnt">http://photos.petfinder.com/photos/US/CA/CA1827/19901761/CA1827.19901761-1-pnt.jpg</photo>
          [...]
