--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.petfinder.com/shelter.get?id=fake&key=fake
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=iso-8859-1
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="iso-8859-1"?>
        
        <petfinder xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://api.petfinder.com/schemas/0.9/petfinder.xsd">
         <header>
          <version>0.1</version>
          <timestamp>2012-05-04T20:39:10Z</timestamp>
          <status>
           <code>100</code>
           <message />
          </status>
         </header>
         <shelter>
          <id>CA1080</id>
          <name>Baja Animal Sanctuary</name>
          <address1>www.BajaAnimalSanctuary.org</address1>
          <address2 />
          <city>San Diego</city>
          <state>CA</state>
          <zip>92102</zip>
          <country>US</country>
          <latitude>32.714800</latitude>
          <longitude>-117.118200</longitude>
          <phone>619-786-7928</phone>
          <fax />
          <email>bajadogs@aol.com</email>
         </shelter>
        </petfinder>

  recorded_at: Fri, 04 May 2012 20:39:09 GMT
recorded_with: VCR 2.1.1
