--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.petfinder.com/breed.list?animal=dog&key=fake
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=iso-8859-1
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="iso-8859-1"?>
        
        <petfinder xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://api.petfinder.com/schemas/0.9/petfinder.xsd">
         <header>
          <version>0.1</version>
          <timestamp>2012-05-04T20:44:15Z</timestamp>
          <status>
           <code>100</code>
           <message />
          </status>
         </header>
         <breeds animal="dog">
          <breed>Affenpinscher</breed>
          <breed>Afghan Hound</breed>
          <breed>Airedale Terrier</breed>
          <breed>Akbash</breed>
          <breed>Akita</breed>
          <breed>Alaskan Malamute</breed>
          <breed>American Bulldog</breed>
          <breed>American Eskimo Dog</breed>
          <breed>American Hairless Terrier</breed>
          <breed>American Staffordshire Terrier</breed>
          <breed>American Water Spaniel</breed>
          <breed>Anatolian Shepherd</breed>
       [...]
